.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 1000;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-menu {
  display: flex;
  gap: 60px;
  list-style: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav-menu li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-menu li:hover {
  transform: scale(1.05);
  border: 2px solid #B923E1;
  padding: 8px 15px;
  border-radius: 50px;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 999;
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #000;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    gap: 30px;
    display: none;
  }

  .nav-menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
