.project-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 5vw;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.promore-title{
    position: relative;
    align-items: center;
}
.promore-title h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.promore-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
}
.promore-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}
.promore-container img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}
.promore-container img:hover {
  transform: scale(1.05);
  border: 3px solid #ff00ff;
}
@media screen and (max-width: 1023px) {
  .promore-title h1 {
    font-size: 45px;
  }

  .promore-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}
@media screen and (max-width: 600px) {
  .promore {
    padding: 60px 4vw;
    gap: 40px;
  }

  .promore-title h1 {
    font-size: 36px;
  }

  .promore-container {
    grid-template-columns: 1fr; /* 1 column */
  }
}